$main_color: #11aff1;
$second_color: #68ccfa;

@font-face {
    font-family: "clean";
    src: url(fonts/clean.woff);
}
html, body {
    background-color: $main_color;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: clean !important;
}


h1{
    text-decoration: underline;
    padding: 0px;
}
h3{
    text-decoration: underline;
}

ul {
    list-style: none;
    position: relative;
    float: right;
    top: 0px;

    li {
        float: left;
        margin: 10px;
        color: black;

        &:hover {
            cursor: pointer;
            color: lighten($second_color, 10%);
        }
    }
}