<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/stylin.css">
	<meta charset="UTF-8">
	<title>Heroes and Villains</title>
</head>
<body data-ng-app="supersApp" >
<section class="wrapper">
  <header>
    <h1>Heroes vs Villains</h1>
  </header>
  <aside class="left"></aside>
  <main>
    <section class="heroes" data-ng-controller="HeroesController" data-ng-init="getAllHeroes()">
		  <h2 class="titles">Hero List</h2>
		  <h3>Modify and Delete Heroes</h3>
      <ul>
        <li data-ng-repeat="hero in heroes">Name: {{hero.name}}, Level: {{hero.level}}
          <button class="deleteButton" data-ng-click="deleteHero(hero)">
            Delete
          </button>
          <button class="editButton" data-ng-click="hero.editing = !hero.editing">
            Edit
          </button>
          <form data-ng-if="hero.editing" data-ng-submit="updateHero(hero)">
            <input data-ng-model="hero.name" type="text"/>
            <input data-ng-model="hero.level" type="text"/>
            <button class="editButton"type="submit">
              Update
            </button>
          </form>
        </li>
      </ul>

      <h3>Create A Hero</h3>
      <form class="create" data-ng-submit="createHero(newHero)">
        <label class="name">
          Hero Name: <input id="name" data-ng-model="newHero.name" type="text">
        </label>
        <label class="level">
          Hero Level: <input id="level" data-ng-model="newHero.level" type="text">
        </label>
        <button class="submitButton" type="submit">Submit</button>
      </form>
      <footer>
        <h5>Hero Data</h5>
        <p>{{heroes}}</p>
      </footer>
    </section>


    <section class="battle">
      <h2>Battle Box</h2>
    </section>


    <section class="villains" data-ng-controller="VillainsController" data-ng-init="getAllVillains()">
      <h2 class="titles">Villain List</h2>
		  <section class="mod">
      <h3>Modify and Delete Villains</h3>
      <ul>
        <li data-ng-repeat="villain in villains">Name: {{villain.name}}, Level: {{villain.level}}
          <button class="deleteButton" data-ng-click="deleteVillain(villain)">
            Delete
          </button>
          <button class="editButton" data-ng-click="villain.editing = !villain.editing">
            Edit
          </button>
          <form data-ng-if="villain.editing" data-ng-submit="updateVillain(villain)">
            <input data-ng-model="villain.name" type="text"/>
            <input data-ng-model="villain.level" type="text"/>
            <button class="editButton" type="submit">Update</button>
          </form>
        </li>
      </ul>

      <h3>Create A Villain</h3>
      <form class="create" data-ng-submit="createVillain(newVillain)">
        <label class="name">
          Villain Name: <input id="name" data-ng-model="newVillain.name" type="text">
        </label>
        <label class="level">
          Villain Level: <input id="level" data-ng-model="newVillain.level" type="text">
        </label>
        <button class="submitButton" type="submit">Submit</button>
      </form>
      <footer>
        <h5>Villain Data</h5>
        <p>{{villains}}</p>
      </footer>
    </section>
	  </section>
	</main>
  <aside class="right"></aside>
  <footer class="foot"></footer>
</section>
  <script src="bundle.js"></script>
</body>
</html>
