<section class="blog-container pure-u-1-3">
	<section class="blog-inside">
		<h3> Your Posts </h3>
		<section class="post" ng-repeat="post in allPosts">
			<h3 class="title">{{post.title}}</h3>
			<ul>
				<li data-ng-click="editing = !editing">Edit</li>
				<li data-ng-click="deletePost($index)">Delete</li>
			</ul>
			<section class="edit" data-ng-show="editing">
				<form data-ng-submit="updatePost(post); editing=false">
					<input class="input" data-ng-model="post.title">
					<textarea class="input" data-ng-model="post.content"></textarea>
					<input type="submit">
				</form>
			</section>
			<p class="content">{{post.content}}</p>
		</section>
	</section>
</section>