<section class="container" data-ng-if="loaded" data-ng-init="getInternetz()">
  <h2>Internetz view</h2>
  <md-list>
    <md-list-item data-ng-repeat="internet in internetz">
      Name: {{internet.name}}
      <md-button class="md-md-button md-raised" data-ng-click="internet.editing = !internet.editing">Edit</md-button>
      <md-button class="md-fab md-mini md-warn" data-ng-click="deleteInternet(internet._id)" aria-label="delete button">
        <md-icon><i class="material-icons">delete</i></md-icon>
      </md-button>
      <form data-ng-if="internet.editing" data-ng-submit="editInternet(internet)">
        <label for="name">Name: </label><input type="text" data-ng-model="internet.name">
        <md-button class="md-md-button md-raised md-primary" type="submit">Submit</md-button>
      </form>
    </md-list-item>
  </md-list>
  <form data-ng-submit="addInternet()">
    <md-input-container>
      <label for="name">Name: </label>
      <input type="text" data-ng-model="newInternet.name">
    </md-input-container>
    <md-button class="md-md-button md-raised md-primary" type="submit">Add</md-button>
  </form>
</section>
