.wrapper {
  width: 1268px;
  height: 650px;
  position: relative;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

header {
  height: 40px;
  width: 100%;
  color: white;
  background-color: #008CBA;
  margin: 0;
  h1 {
    font-size: 35px;
    height: 35px;
    margin-left: 10px;
    font-family: sans-serif;
    padding-top: 2px;
  }
}

h2 {
  font-size: 25px;
  color: white;
}

.titles {
  background-color: grey;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

button {
  color: white;
  text-align: center;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  width: 100px;
  margin-left: 2px;
}

.deleteButton, .cancelButton {
  background-color: #f44336; /*Red*/
}

.editButton {
  background-color: #008CBA; /*Blue*/
}

.submitButton {
  background-color: #4CAF50; /*Green*/
}

ul {
  margin-bottom: 20px;
  border: solid 2px #f44336;
}

li {
  margin-left: 2px;
}

input {
  margin-left: 2px;
  width: 175px;
}

.name {
  display: block;
}

.create {
  border: solid 2px #4CAF50;
}

.heroes {
  float: left;
  width: 500px;
  margin-top: 0;
  overflow: auto;
  height: 498px;
  h3, ul, footer, form {
    margin-left: 4px;
  }
}

.battle {
  float: left;
  width: 150px;
  height: 498px;
  text-align: center;
  background-color: #f44336;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  background-color: #f44336; /*Red*/
}

.villains {
  float: left;
  width: 500px;
  margin-top: 0;
  height: 498px;
}

.padding {
  padding-left: 4px;
  width: 496px;
  height: 453px;
  overflow: auto;
}

aside {
  width: 50px;
  height: 500px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #008CBA; /*Blue*/
}

.left {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.right {
  float: right;
}

footer {
  margin-top: 20px;
  p {
    overflow: scroll;
    border: solid 2px #008CBA;
  }
}

.foot {
  clear: both;
  width: 100%;
  height: 100px;
  padding-top: 8px;
  position: absolute;
  bottom: 0;
  background-color: #008CBA; /*Blue*/
}

